<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Create Post')"/>
</head>
<body>
<nav th:replace="fragments/navbar"></nav>
<main class="container">
    <h2>Write a Post!</h2>
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        <label for="title">Title</label>
        <input class="form-control" type="text" id="title" th:field="*{title}"/>
        <label for="body">Body</label>
        <textarea class="form-control" rows="4" id="body" th:field="*{body}"></textarea>
        <div class="field">
            <div>
                <button class="btn btn-light" type="button" id="picker">Upload Post Photo</button>
                <input type="hidden" id="fileupload" name="file" />
            </div>
            <div id="nameBox"></div>
        </div>
        <button class="btn " type="submit">Post</button>
    </form>
</main>
<footer th:replace="fragments/footer"></footer>
<th:block th:replace="fragments/filestack" />
<th:block th:replace="fragments/scripts" />

</body>
</html>