<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Home')"/>
</head>
<body>
<nav th:replace="fragments/navbar"></nav>
<h1 class="header"><span th:text="${user.username}"></span>'s Profile</h1>
<main class="container row center">
    <div class="col-4 row">
        <img class="col-12" th:src="${user.photo}" alt=""/>
        <p class="col-12">Username: <span th:text="${user.username}"></span></p>
        <p class="col-12">Email: <span th:text="${user.email}"></span></p>
        <div th:if="${user.bio != null}">
            <p class="col-12">About Me:</p>
            <p class="col-12" th:text="${user.bio}" ></p>
        </div>id
    </div>
    <div class="col-8">
        <div class="card ad" th:each="post : ${posts}" th:if="${post.getUser().getId() == user.id}">
            <div class="card-body">
                <h5 class="card-title" th:text="${post.title}"></h5>
                <p class="card-text" th:text="${post.body}"></p>
                <div class="row">
                    <a th:href="@{/posts/{id}(id=${post.id})}" class="btn btn-light">View</a>
                    <button th:if="${userSesh} == ${post.user}" data-toggle="modal" data-target="#edit" class="btn btn-light" type="button">Edit</button>
                        <div class="modal" id="edit" tabindex="-1" role="dialog">
                            <div class="modle-header" style="height:50px;"></div>
                            <div class="modal-content">
                                <form class="modalForm" th:action="@{/posts/edit}" method="post">
                                    <label for="titleEdit"><h3>Title: </h3></label>
                                    <input class="form-control modalInput" type="text" id="titleEdit" name="titleEdit" th:value="${post.title}"/>
                                    <label for="bodyEdit">Body: </label>
                                    <input class="form-control modalInput" id="bodyEdit" name="bodyEdit" th:value="${post.body}" />
                                    <input type="hidden" id="idEdit" name="idEdit" th:value="${post.id}" />
                                    <button class="modalButton btn btn-dark" type="submit">Edit</button>
                                </form>
                            </div>
                        </div>
                    <button th:if="${userSesh} == ${post.user}" data-toggle="modal" data-target="#delete" class="btn btn-light" type="button">Delete</button>
                        <div class="modal" id="delete" tabindex="-1" role="dialog">
                            <div class="modle-header" style="height:50px;"></div>
                            <div class="modal-content">
                                <div class="modalForm">
                                    <h3>Are you sure you want to delete this post?</h3>
                                    <form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post">
                                        <button class="modalButton btn btn-danger" type="submit">Yes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</main>





<footer th:replace="fragments/footer"></footer>
<th:block th:replace="fragments/scripts" />


</body>
</html>